@font-face {
  font-family: 'BYekan';
  src: url('fonts/BYekan.woff2') format('woff2'),
       url('fonts/BYekan.woff') format('woff');
}

@font-face {
  font-family: 'Samim';
  src: url('fonts/Samim.woff2') format('woff2'),
       url('fonts/Samim.woff') format('woff');
}

body {
  font-family: 'BYekan', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
}

h1 {
  color: #ff9800;
  margin-top: 20px;
  font-size: 28px;
}

.container {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  background-color: #424242;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

textarea, input, select, button {
  font-family: 'BYekan', sans-serif;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
}

textarea {
  resize: vertical;
  background-color: #616161;
  color: #fff;
  text-align: center;
}

input, select, button {
  background-color: #616161;
  color: #fff;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

canvas {
  width: 100%;
  max-width: 500px;
  margin: 20px 0;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  background-color: #ff9800;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  flex-grow: 1;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: #fff;
}

.settings {
  display: none;
  flex-direction: column;
  background-color: #616161;
  padding: 10px;
  border-radius: 8px;
}

.templates {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.template-button {
  padding: 10px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.template-button.notify {
  background-color: #ff5722;
}

.template-button.absence {
  background-color: #009688;
}

.template-button.consult {
  background-color: #3f51b5;
}

.template-button.training {
  background-color: #673ab7;
}

.template-button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .controls {
    flex-direction: column;
  }
}
